* {
  box-sizing: border-box;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
  font-size: 50px;
  font-weight: bold;
}

h2 {
  font-size: 30px;
}

header {
  height: 100px;
  padding: 20px;
  background-color: rgb(72, 70, 70);
  color: white;
  text-align: center;
}

/* main {
  min-height: calc(100vh - 163px);
  display: flex;
  justify-content: center;
} */
.container {
  margin: 0 auto;
  width: 1020px;
  height: 1020px;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px;
  width: 300px;
  height: 300px;
}

.red {
  border: solid #e30413 10px;
}
.green {
  border: solid #3ea535 10px;
}

.yellow {
  border: solid yellow 10px;
}

.blue {
  border: solid #039fe3 10px;
}

.pink {
  border: solid #f8c5af 10px;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 63px;
  background-color: rgb(165, 163, 163);
  color: black;
}

span {
  font-weight: bold;
  margin: 0 5px;
}

/* @media (max-width: 962px) {
  .container {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
  }
} */

@media (max-width: 439px) {
  h1 {
    font-size: 40px;
  }
}
