* {
  box-sizing: border-box;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
  font-size: 50px;
  font-weight: bold;
}

h2 {
  font-size: 30px;
}

header {
  padding: 20px;
  background-color: rgb(72, 70, 70);
  color: white;
  text-align: center;
}

main {
  display: flex;
  justify-content: center;
}
.container {
  margin: 50px 100px 50px 100px;
  width: 1020px;
  height: 1020px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  width: 300px;
  height: 300px;
}

.red {
  border: solid #e30413 10px;
}
.green {
  border: solid #3ea535 10px;
}

.yellow {
  border: solid yellow 10px;
}

.blue {
  border: solid #039fe3 10px;
}

.pink {
  border: solid #f8c5af 10px;
}

.item > div {
  display: flex;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 63px;
  background-color: rgb(165, 163, 163);
  color: black;
}

span {
  font-weight: bold;
}
